{% extends "base.html" %}

{% block title %}{{ 'Editar Departamento' if pessoa else 'Cadastrar Departamento' }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'Editar Departamento' if pessoa else 'Cadastrar Departamento' }}</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required value="{{ departamento.nome if departamento else '' }}">
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{{ url_for('departamento.listar') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
