{% extends "auth/base_auth.html" %}

{% block auth_content %}
    <div class="card">
        <div class="card-header">
            <h2 class="text-center mb-4">SGRH - Cadastro</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirmar Senha</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Cadastrar</button>
            </form>
            <div class="text-center mt-3">
                <a href="{{ url_for('login') }}" class="text-decoration-none">Já tenho uma conta</a>
            </div>
        </div>
    </div>
{% endblock %}
